html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
} 

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    min-width: 350px;
    background-color: bisque;
    display: flex;
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
    justify-content: space-between;
}

.button-row {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.button-row button {
    background-color: #FFFF;
    border: 0;
    cursor: pointer;
}

.button-delete {
    border: none;
    padding: 5px 10px;
    background-color: #FFFF;
    border-radius: 5px;
}